<div id="app-form" class="form-horizontal">
	<div class="col-md-12 form-group">
		<label class="control-label col-md-2 required" for="field-name">
			ФИО
			<span class="required">*</span>
		</label>
		
		<div class="col-md-6">
			<input class="form-control" id="field-name" name="name" type="text" maxlength="{{nameSize}}">
		</div>
	</div>

	<div class="col-md-12 form-group">
		<label class="control-label col-md-2 required" for="field-message">
			Сообщение
			<span class="required">*</span>
		</label>

		<div class="col-md-6">
			<textarea class="form-control" id="field-message" name="message" maxlength="{{messageSize}}"></textarea>
		</div>
	</div>

	<div class="col-md-12 form-group">
		<label class="control-label col-md-2 required" for="field-email">
			Email
			<span class="required">*</span>
		</label>

		<div class="col-md-6">
			<input class="form-control" id="field-email" name="email" type="text" maxlength="{{emailSize}}">
		</div>
	</div>

	<div class="col-md-12">
		<button class="btn btn-primary" id="button-send">Отправить</button>
		<button class="btn btn-warning" id="button-reset" type="reset">Очистить</button>
	</div>
</div>


<!-- Success Modal -->
<div class="modal fade" id="success-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Спасибо!</h4>
			</div>
			<div class="modal-body">
				Ваше сообщение отправлено!
			</div>
			<div class="modal-footer">
				<a href="/" class="btn btn-primary">Закрыть</a>
			</div>
		</div>
	</div>
</div>


<!-- Error Modal -->
<div class="modal fade" id="error-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Ошибка!</h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<!-- Captcha Modal -->
<div class="modal fade" id="captcha-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Пожалуйста, введите символы в текстовое поле:</h4>
			</div>
			<div class="modal-body">
				<img id="captcha-img" src="/captcha?_CAPTCHA={{captchaParam}} "/>
				<input id="captcha-input" name="captcha" />
			</div>
			<div class="modal-footer">
				<button id="captcha-send" type="button" class="btn btn-primary">Отправить</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>