<!DOCTYPE html>

<html>
	<head>
		<title>Home - {{applicationTitle}}</title>

		<meta charset="utf-8">
		<meta name="author" content="Levancov Ivan">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<script type="text/javascript" src="/libraries/jquery/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/libraries/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

		<link rel='stylesheet' type='text/css' href='/libraries/bootstrap-3.3.5-dist/css/bootstrap.min.css' />
	</head>

	<body>
		<div id="page-container" class="container">
			<h1 class="text-center">Welcome to {{applicationTitle}}!</h1>
			<div id="page-content">
				{{ content|raw }}
			</div>
		</div>
		
		<div id="bg-loader"></div>

		{{includedJsViews|raw}}
	</body>
</html>
