<script type="text/javascript">
	var Form = {

		captchaChecked: false,
		
		values: {
			name: '',
			message: '',
			email: '',
		},

		rulesGroupes: {
			name: ['required'],
			message: ['required'],
			email: ['required', 'email'],
		},

		rulesFunctions: {
			required: function (value) {
				return value.length > 0 ? true : 'Поле обязательно к заполнению';
			},
			email: function (value) {
				return /.+@.+\..+/.test(value) ? true : 'Email имеет неправильный формат';
			}
		},

		send: function() {
			this.getData();
			
			if (!this.validate()) {
				return false;
			}

			if (!this.captchaChecked) {
				$('#captcha-modal').modal();
				$('#captcha-input').focus();
				return;
			}

			var json = this.generateJson();
			$.post('/save', {data: json}, this.checkResult);
		},

		getData: function() {
			this.values.name = $('#field-name').val().trim();
			this.values.message = $('#field-message').val().trim();
			this.values.email = $('#field-email').val().trim();
		},

		generateJson: function() {
			return JSON.stringify(this.values);
		},

		showCaptcha: function(message) {
			try {
				var result = $.parseJSON(message);
			}
			catch (e) {
				result = {};
			}

			if (typeof result.captcha != undefined) {
				$('#captcha-modal').modal();
				$('#captcha-modal').find('.captcha-img').attr('src', result.captcha);
			}
			else {
				Form.showModalError('Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже.');
			}
		},

		checkResult: function(message) {
			try {
				var result = $.parseJSON(message);
			}
			catch (e) {
				result = {};
			}

			if (result.ok == true) {
				$('#success-modal').modal();
			}
			else if (result.error != undefined) {
				Form.showModalError(result.error);
			}
			else  {
				Form.showModalError('Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже.');
			}
		},

		validateCaptcha: function(message) {
			try {
				var result = $.parseJSON(message);
			}
			catch (e) {
				result = {};
			}

			if (result.ok == true) {
				$('#captcha-modal').modal('hide');
				Form.captchaChecked = true;
				Form.send();
			}
			else if (typeof result.url != undefined) {
				$('#captcha-modal .alert').remove();
				$('#captcha-img').attr('src', result.url);
				$('#captcha-modal .modal-body').append($('#captcha-warning-template').html());
			}
			else {
				Form.showModalError('Произошла непредвиденная ошибка. Пожалуйста, попробуйте позже.');
			}
		},

		showModalError: function(text) {
			$('#error-modal').find('.modal-body').html(text);
			$('#error-modal').modal();
		},
		
		validate: function() {
			this.clearErrors();

			var valid = true;

			for (var field in this.rulesGroupes) {
				var rules = this.rulesGroupes[field];
				
				for (var i = 0; i < rules.length; i++) {
					var rule = rules[i];
					var value = this.values[field];
					var result = this.rulesFunctions[rule](value);
					if (result !== true) {
						valid = false;
						this.addError(field, result);
					}
				}
			}

			return valid;
		},

		addError: function(field, text) {
			var errorHtml = $('#warning-template').html();
			var $field = $('#field-' + field);
			$field.parents('.form-group').addClass('has-error');
			$field.after(errorHtml);
			$field.parent().find('.validation-message').first().html(text);
		},

		clearErrors: function() {
			$('#app-form .has-error').removeClass('has-error');
			$('.validation-error').remove();
		}
	};

	//Events handlers
	$(document).ready(function(){

		// Send button
		$(document).on('click', '#button-send', function(event) {
			Form.send();
		});
		// Reset button
		$(document).on('click', '#button-reset', function(event) {
			Form.clearErrors();
		});
		// Captcha send button
		$(document).on('click', '#captcha-send', function(event) {
			$.post('/validate-captcha', {'captcha': $('#captcha-input').val()}, Form.validateCaptcha);
		});
	});
</script>

<script id="warning-template" type="text/template">
	<div class="alert alert-danger validation-error" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="validation-message"> </span>
	</div>
</script>

<script id="captcha-warning-template" type="text/template">
	<div class="alert alert-danger validation-error" role="alert">
		<span class="validation-message">Неправильно. Пожалуйста, попробуйте еще раз.</span>
	</div>
</script>